a {
  &.btn {
    &.has-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
    }
    &.btn-orange {
      background-color: var(--col-pallete-6);
      color: var(--col-primary-background);
    }
    &.big {
      padding: 7px 20px;
    }
  }
}
