:root {
  --col-primary-background: #ffffff;
  --col-primary-text: #141414;
  --col-pallete-1: #dde8f1;
  --col-pallete-2: #014270;
  --col-pallete-3: #a7cd3c;
  --col-pallete-4: #eee8d8;
  --col-pallete-5: #0087d9;
  --col-pallete-6: #ff4500;
}
