#part-product-menu {
  height: 40px;
  background-color: var(--col-pallete-2);
  .inner-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    nav {
      width: 100%;

      /* Untuk semua scrollbar di halaman */
      ::-webkit-scrollbar {
        width: 1px;
        height: 1px;
      }

      /* Latar belakang scrollbar (Track) */
      ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 5px; /* Sedikit lengkungan pada track */
      }

      /* Pegangan (Thumb) */
      ::-webkit-scrollbar-thumb {
        background: var(--col-pallete-3);
        border-radius: 5px;
      }

      ul {
        width: 100%;
        // overflow: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        li {
          color: var(--col-primary-background);
          font-weight: 500;
          cursor: pointer;
          &.parent {
            margin: 0 20px;
            position: relative;
            ul {
              display: none;
            }

            &.active {
              ul {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: calc(100% + 20px);
                z-index: 3;
                background-color: var(--col-pallete-5);
                padding: 10px;
                li {
                  font-weight: normal;
                  margin: 0 0 20px 0;
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
