#part-hero {
  height: calc(100vh - 180px);
  color: var(--col-primary-background);
  .inner-section {
    width: 100%;
    padding: 0;
    #hero-slider-wr {
      .item {
        overflow: hidden;
        width: 100%;
        height: 100%;
        cursor: grab;
        position: relative;

        &.text-slide {
          color: var(--col-primary-background);
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          position: relative;
          .photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: var(--col-primary-text);
              opacity: 0.6;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .content {
            position: relative;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            row-gap: 10px;
            a {
              width: max-content;
            }
          }
        }
        &.video-slide {
          width: 100%;
          height: 100%;
          position: relative;
          .content {
            width: 1366px;
            max-width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding: 0 20px 20px 0;
            a {
              display: block;
              width: max-content;
            }
          }
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            &.background-video {
              &.desktop {
                display: block;
                @media (max-width: 991px) {
                  display: none;
                }
              }
              &.mobile {
                display: none;
                @media (max-width: 991px) {
                  display: block;
                }
              }
            }
          }
        }
        &#ph-item-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
  }
}
