:root {
  --col-primary-background: #ffffff;
  --col-primary-text: #141414;
  --col-pallete-1: #dde8f1;
  --col-pallete-2: #014270;
  --col-pallete-3: #a7cd3c;
  --col-pallete-4: #eee8d8;
  --col-pallete-5: #0087d9;
  --col-pallete-6: #ff4500;
}

:root {
  --font-primary-text: "Roboto", sans-serif;
  --font-clamp-1: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
  --font-clamp-2: clamp(1.5rem, 1.25rem + 1vw, 2rem);
  --font-clamp-3: clamp(2rem, 1.5rem + 2vw, 3rem);
  --font-clamp-4: clamp(3rem, 2rem + 4vw, 4rem);
  --font-clamp-5: clamp(4rem, 3rem + 6vw, 5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary-text);
  margin: 0;
}
h1.head,
h2.head,
h3.head,
h4.head,
h5.head,
h6.head {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: var(--font-clamp-3);
}

h2 {
  font-size: var(--font-clamp-2);
}

h3 {
  font-size: var(--font-clamp-1);
}

ul.lns,
ol.lns {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--col-primary-background);
  color: var(--col-primary-text);
  font-family: var(--font-primary-text);
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 385px) {
  body {
    font-size: 13px;
  }
}
body a {
  text-decoration: none;
  color: inherit;
}
body section,
body .section {
  width: 100%;
}
body section .inner-section,
body .section .inner-section {
  width: 1366px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
body section .inner-section .container,
body .section .inner-section .container {
  width: 100%;
}

.h100 {
  height: 100%;
}

a.btn.has-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
}
a.btn.btn-orange {
  background-color: var(--col-pallete-6);
  color: var(--col-primary-background);
}
a.btn.big {
  padding: 7px 20px;
}

#part-topbar {
  height: 40px;
  background-color: var(--col-pallete-5);
  color: var(--col-primary-background);
}
#part-topbar .inner-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#part-header {
  background-color: var(--col-pallete-1);
  height: 100px;
}
#part-header .inner-section {
  display: grid;
  grid-template-columns: 80px 400px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1366px) {
  #part-header .inner-section {
    grid-template-columns: 80px 1fr 40px;
  }
}
#part-header .inner-section #ph-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#part-header .inner-section #ph-left a {
  width: 100%;
  display: block;
}
#part-header .inner-section #ph-left a img {
  width: 80px;
  height: auto;
}
#part-header .inner-section #ph-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
#part-header .inner-section #ph-mid form {
  width: 100%;
}
#part-header .inner-section #ph-mid form label input {
  width: calc(100% - 40px);
  outline: none;
  border: none;
  background-color: #f5f5f5;
  padding: 5px 15px;
}
#part-header .inner-section #ph-mid form button {
  background-color: var(--col-pallete-3);
  color: var(--col-primary-background);
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 12px;
  line-height: 0;
}
#part-header .inner-section #ph-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
#part-header .inner-section #ph-right nav {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
@media (max-width: 1366px) {
  #part-header .inner-section #ph-right nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: 100vh;
    overflow: auto;
    background-color: var(--col-pallete-2);
    z-index: 44;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  #part-header .inner-section #ph-right nav.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#part-header .inner-section #ph-right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 1366px) {
  #part-header .inner-section #ph-right nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
  }
}
#part-header .inner-section #ph-right nav ul li {
  margin: 0 20px;
  font-weight: 500;
}
@media (max-width: 1366px) {
  #part-header .inner-section #ph-right nav ul li {
    margin: 10px 0 10px 20px;
  }
}
#part-header .inner-section #ph-right nav ul li a {
  color: var(--col-pallete-2);
}
@media (max-width: 1366px) {
  #part-header .inner-section #ph-right nav ul li a {
    color: var(--col-primary-background);
  }
}
#part-header .inner-section #ph-right .bars {
  display: none;
  cursor: pointer;
}
@media (max-width: 1366px) {
  #part-header .inner-section #ph-right .bars {
    position: relative;
    display: block;
    width: 23px;
    height: 20px;
  }
  #part-header .inner-section #ph-right .bars .bar {
    width: 100%;
    height: 3px;
    background-color: var(--col-primary-text);
    position: absolute;
    left: 0;
  }
  #part-header .inner-section #ph-right .bars .bar:nth-child(1) {
    top: 0;
    width: 100%;
  }
  #part-header .inner-section #ph-right .bars .bar:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #part-header .inner-section #ph-right .bars .bar:nth-child(3) {
    bottom: 0;
  }
  #part-header .inner-section #ph-right .bars.active .bar:nth-child(1) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
  #part-header .inner-section #ph-right .bars.active .bar:nth-child(2) {
    opacity: 0;
  }
  #part-header .inner-section #ph-right .bars.active .bar:nth-child(3) {
    bottom: 50%;
    -webkit-transform: translateY(50%) rotate(-45deg);
    transform: translateY(50%) rotate(-45deg);
  }
}

#part-product-menu {
  height: 40px;
  background-color: var(--col-pallete-2);
}
#part-product-menu .inner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#part-product-menu .inner-section nav {
  width: 100%;
  /* Untuk semua scrollbar di halaman */
}
#part-product-menu .inner-section nav ::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
#part-product-menu .inner-section nav {
  /* Latar belakang scrollbar (Track) */
}
#part-product-menu .inner-section nav ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px; /* Sedikit lengkungan pada track */
}
#part-product-menu .inner-section nav {
  /* Pegangan (Thumb) */
}
#part-product-menu .inner-section nav ::-webkit-scrollbar-thumb {
  background: var(--col-pallete-3);
  border-radius: 5px;
}
#part-product-menu .inner-section nav ul {
  width: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#part-product-menu .inner-section nav ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 20px;
}
#part-product-menu .inner-section nav ul li a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  color: var(--col-primary-background);
  font-weight: 500;
}

#part-hero {
  height: calc(100vh - 180px);
  color: var(--col-primary-background);
}
#part-hero .inner-section {
  width: 100%;
  padding: 0;
}
#part-hero .inner-section #hero-slider-wr .item {
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
#part-hero .inner-section #hero-slider-wr .item.text-slide {
  background-color: darkgreen;
  color: var(--col-primary-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 20px;
}
#part-hero .inner-section #hero-slider-wr .item.video-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#part-hero .inner-section #hero-slider-wr .item.video-slide .content {
  width: 1366px;
  max-width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
}
#part-hero .inner-section #hero-slider-wr .item.video-slide .content a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
#part-hero .inner-section #hero-slider-wr .item.video-slide video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#part-hero .inner-section #hero-slider-wr .item.video-slide video.background-video.desktop {
  display: block;
}
@media (max-width: 991px) {
  #part-hero .inner-section #hero-slider-wr .item.video-slide video.background-video.desktop {
    display: none;
  }
}
#part-hero .inner-section #hero-slider-wr .item.video-slide video.background-video.mobile {
  display: none;
}
@media (max-width: 991px) {
  #part-hero .inner-section #hero-slider-wr .item.video-slide video.background-video.mobile {
    display: block;
  }
}
#part-hero .inner-section #hero-slider-wr .item#ph-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}